body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #700a0a;
    background-color: #330808;
}

header {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(90deg, #4e5153, #53252b);
    color: rgb(20, 20, 20);
}

header h1 {
    font-size: 2.5rem;
}

.about, .portfolio {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #700a0a;
}

.profile p {
    max-width: 600px; /* Para o texto não ocupar todo o espaço */
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project {
    padding: 1rem;
    border: 1px solid #3d1a1a;
    border-radius: 5px;
    background-color: #411d1d;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
    margin-top: 2rem;
}
