body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333; /* Cor de texto mais clara */
    background-color: #f4f4f4; /* Cor de fundo clara */
}

header {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(90deg, #6c757d, #007bff); /* Um tom mais suave de azul */
    color: #fff; /* Texto branco */
}

header h1 {
    font-size: 2.5rem;
}

.about, .portfolio {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #007bff; /* Cor da borda da imagem mais clara */
}

.profile p {
    max-width: 600px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project {
    padding: 1rem;
    border: 1px solid #ccc; /* Borda mais suave */
    border-radius: 5px;
    background-color: #fff; /* Fundo branco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

footer {
    text-align: center;
    padding: 1rem;
    background: #007bff; /* Cor de fundo mais clara */
    color: white;
    margin-top: 2rem;
}
